.home {
  background: url("../../img/mapa-mundo-isolado_98292-4295.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_title {
  font-size: 3.5rem;
  margin: 9rem 0 3rem;
}

.home_form {
  display: flex;
  gap: 1rem;
}

.home_input {
  width: 38rem; 
  height: 3rem;
  border-radius: 6px;
  padding-left: 1rem;
  outline: 1px solid #5E503F;
  font-size: 1.5rem;
}

.home_btn_search {
  height: 3rem;
  padding-inline: 1rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: 1px solid #303030;
  cursor: pointer;
  background-color: #C6AC8F;
}

.home_btn_search:hover {
    background-color: #5E503F;
    transition: all 0.3s;
    color: #fff;
}


